.carousel-item{
    padding: 20px 20px;
}
.buy-now-button{
  background-image: linear-gradient(to bottom, gray 0%,black 100%);
  color:white;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.see{
    color: red;
}
.cat-bag{
    border-radius: 20%;
    box-shadow: 5px 5px 10px lightgrey;
}
